# Pandas

An flat _spreadsheet_ can be seen in terms of the types of variables of `Python` just as dictionary of lists, where each column of the spreadsheet is a pair key-list of the dictionary 

|   |  A   |  B   |
|---|:----:|:----:|
| 1 | even | odd  |
| 2 |   0  | 1    |
| 3 |   2  | 3    |
| 4 |   4  | 5    |
| 5 |   6  | 7    |
| 6 |   8  | 9    |

In [21]:
numbers={'even': [0,2,4,6,8],   #  First  key-list
         'odd' : [1,3,5,7,9] }  #  Second key-list

### DataFrame
`Pandas` converts this special dictionary of list into a `DataFrame` which is just an spreadsheet at the programming level, and can be managed without a graphical interface.

In [22]:
import pandas as pd
df=pd.DataFrame(numbers)
df

   even  odd
0     0    1
1     2    3
2     4    5
3     6    7
4     8    9

### Series

Each column of the DataFrame is now an augmented dictionary called `Series`, with the indices as the keys of the `Series`

In [18]:
type( df['even'] )

pandas.core.series.Series

In [20]:
df.even[3]

6

Note that the key name can be used also as an attribute.

> The __power__ of Pandas rely in that their main data structures: `DataFrames` and `Series`, are enriched with many useful methods and attributes.

### [Official definition of Pandas](http://pandas.pydata.org/pandas-docs/stable/)

> Pandas is a Python package providing __fast__, __flexible__, and __expressive__ _data structures_ designed to make working with “relational” or “labeled” data both easy and intuitive. It aims to be the fundamental high-level building block for doing practical, real world data analysis in Python. Additionally, it _has the broader goal of becoming the most powerful and flexible open source data analysis / manipulation tool_ available in any language. It is already well on its way toward this goal.

* "relational": the list of data is identified with some unique index (like a `SQL` table)
* "labeled": the list is identified with a key, like the previous `odd` or `even` keys.



### Recommend textbook
A good and practice book about `Pandas` possibilities is:

[__Python for Data Analysis__](https://drive.google.com/open?id=0BxoOXsn2EUNIWExXbVc4SDN0YTQ)<br/>
Data Wrangling with Pandas, NumPy, and IPython<br/>
_By William McKinney_

## Standard way to load the module

In [1]:
import pandas as pd

## Data structures

`Pandas` has two new data structures:
* `Series` which are similar to dictionaries
* `DataFrame` which are similar to dictionary lists.

### DataFrame
A row in a two-dimensional `DataFrame` corresponds to `Series` with the same keys of the `DataFrame`, but with single values instead of a list

In [53]:
df.loc[[0]]

   even  odd
0     0    1

In [54]:
df.loc[[0]].values

array([[0, 1]])

In [55]:
print( 'the row has' )
print( '                  keys: {} and values: {}'.format( list( df.loc[[0]].keys() ),df.loc[[0]].values[0]  ) )
print( "like the dictionay:" )
print( "                      { 'even' : 0, 'odd' : 1 }")

the row has
                  keys: ['even', 'odd'] and values: [0 1]
like the dictionay:
                      { 'even' : 0, 'odd' : 1 }

while the columns are dictionary with the indeces as the keys. 

An example of a  `DataFrame` is a spreadsheet.

In [56]:
df[['even']]

   even
0     0
1     2
2     4
3     6
4     8

In [57]:
print( 'the column even has' )
print( '                  keys: {} and values: {}'.format( list( df.even.keys() ),df.even.values  ) )
print( "like the dictionay:" )
print( "                      { 0 : 0, 1 : 2, 2 : 4, 3 : 6, 4 : 8 }")

the column even has
                  keys: [0, 1, 2, 3, 4] and values: [0 2 4 6 8]
like the dictionay:
                      { 0 : 0, 1 : 2, 2 : 4, 3 : 6, 4 : 8 }

### `Series`

A `Pandas` `Series` object can be just initialized from a `Python` dictionary:

In [34]:
s=pd.Series({'Name':'Juan Valdez','Nacionality':'Colombia','Age':23})
s

Age                     23
Nacionality       Colombia
Name           Juan Valdez
dtype: object

and can be used as such dictionaries

In [35]:
s['Name']

'Juan Valdez'

but also as containers of name spaces!

In [36]:
s.Name

'Juan Valdez'

## `DataFrame` Initialization

### Initization from an existing spreadsheet. 
This can be locally in your computer o from some downloadable  link

In [60]:
df=pd.read_excel('http://bit.ly/spreadsheet_xlsx')
df

               Nombre  Edad                Compañia
0         Juan Valdez    23        Café de Colombia
1  Álvaro Uribe Vélez    65  Senado de la República

To make a downloadable link for any spread sheet in Google Drive, follow the sequence:
```
File → Publish to the web...→ Entire Document → Web page → Microsoft excel (xlsx)
```
as illustrated in the figure:
![GS](./img/)

### Initialization from sequential rows as  Series
We start with an empty `DataFrame`:

In [37]:
df=pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

We can append a `Series` as a row of the `DataFrame`, provided that we always use the option: `ignore_index=True`

In [38]:
df=df.append(s,ignore_index=True)
df

    Age Nacionality         Name
0  23.0    Colombia  Juan Valdez

We can fix the type of data of the `'Age'` column

In [7]:
type(df.Age)

pandas.core.series.Series

In [8]:
df['Age']=df.Age.astype(int)
df

   Age Nacionality         Name
0   23    Colombia  Juan Valdez

To add a second row we can build another `Series`
__Activity__: Fill the fields to be generated after the execution of the next cell, and make the __Exercises__

In [ ]:
s=pd.Series()
for k in ['Name','Nacionality','Age','Company']:
    var=input('{}:\n'.format(k))
    s[k]=var

#### Exercises
* Display the resulting `Series` in the screen:

* Append to the previous `DataFrame` y visualizarlo:

* Fill NaN with empty strings

* Save `Pandas` `DataFrame` as an Excel file

* Load pandas DataFrame from the saved file in Excel

### Common operations upon `DataFrames`
See https://github.com/restrepo/PythonTipsAndTricks

* __To fill a specific cell__

In [39]:
df.loc[0,'Company']='Federación de Caferos'

In [40]:
df

    Age Nacionality         Name                Company
0  23.0    Colombia  Juan Valdez  Federación de Caferos

## Other formats to saving and read files

In [24]:
df.to_csv('hoja.csv',index=False)

## Loading data from the clouds
See: https://github.com/kennethreitz/python-guide

In [26]:
%%writefile drive.cfg
[FILES]
CIB_Wos.xlsx                                = 0BxoOXsn2EUNIRjJkQ1VEamdJXzA

Writing drive.cfg

We follow the conventions of https://github.com/kennethreitz/python-guide

In [28]:
import os
import sys
sys.path.insert(0, os.path.abspath(os.path.join(os.path.dirname('__file__'), '../input')))
from google_drive_tools import *

In [29]:
df=read_drive_excel('CIB_Wos.xlsx')

Vea el tamaño del DataFrame

In [30]:
df.shape

(415, 58)

In [31]:
df.sample()

,AB,AF,AU,BP,C1,CR,DE,DI,DT,EI,...,SU,CA,MA,PN,BE,BN,D2,SE,SP,HO
171,Background and aim: The involvement of Toll-li...,"Castiblanco, John\nVarela, Diana-Cristina\nCas...","Castiblanco, J\nVarela, DC\nCastano-Rodriguez,...",541\n,"[Castiblanco, John; Varela, Diana-Cristina; Ca...","Anaya JM, 2006, CLIN DEV IMMUNOL, V13, P185, D...",TIRAP; Mal; Tuberculosis; Systemic lupus eryth...,10.1016/j.meegid.2008.03.001\n,Article\n,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df=df.fillna('')

In [33]:
df.sample()

,AB,AF,AU,BP,C1,CR,DE,DI,DT,EI,...,SU,CA,MA,PN,BE,BN,D2,SE,SP,HO
178,Background. Invasive fungal diseases are impor...,"De Pauw, Ben\nWalsh, Thomas J.\nDonnelly, J. P...","De Pauw, B\nWalsh, TJ\nDonnelly, JP\nStevens, ...",1813\n,"[Donnelly, J. Peter] Radboud Univ Nijmegen, Me...","Ascioglu S, 2002, CLIN INFECT DIS, V34, P7, DO...",,10.1086/588660\n,Article\n,,...,,,,,,,,,,

##  ACTIVITIES
See:
* https://github.com/ajcr/100-pandas-puzzles
* https://github.com/guipsamora/pandas_exercises

## Additional materials

https://github.com/restrepo/PythonTipsAndTricks

A good and practice book about `Pandas` possibilities is:

[__Python for Data Analysis__](https://drive.google.com/open?id=0BxoOXsn2EUNIWExXbVc4SDN0YTQ)<br/>
Data Wrangling with Pandas, NumPy, and IPython<br/>
_By William McKinney_


This other is about aplications based on `Pandas`:
![image.png](https://covers.oreillystatic.com/images/0636920030515/cat.gif) [Introduction to Machine Learning with Python](https://drive.google.com/open?id=0BxoOXsn2EUNISGhrdEZ3S29fS3M)<br/>
A Guide for Data Scientists
By Sarah Guido, Andreas Müller

`Pandas` can be used in a similar way to `R`, which is based on similar data structures. `Pandas` also can replace the use of graphical interfaces to access spreadsheets like Excel