# Pandas

An flat _spreadsheet_ can be seen in terms of the types of variables of `Python` just as dictionary of lists, where each column of the spreadsheet is a pair key-list of the dictionary 

|   |  A   |  B   |
|---|:----:|:----:|
| 1 | even | odd  |
| 2 |   0  | 1    |
| 3 |   2  | 3    |
| 4 |   4  | 5    |
| 5 |   6  | 7    |
| 6 |   8  | 9    |

In [25]:
numbers={"even": [0,2,4,6,8],   #  First  key-list
         "odd" : [1,3,5,7,9] }  #  Second key-list

### DataFrame
`Pandas` converts this dictionary of lists, into a `DataFrame` which is just an spreadsheet but interpreted at the programming level. It can and can be managed without a graphical interface.

In [2]:
import pandas as pd
df=pd.DataFrame(numbers)
df

   even  odd
0     0    1
1     2    3
2     4    5
3     6    7
4     8    9

we can check the shape of the `DataFrame`

In [102]:
df.shape

(5, 2)

### Series

Each column of the DataFrame is now an augmented dictionary called `Series`, with the indices as the keys of the `Series`

In [18]:
type( df['even'] )

pandas.core.series.Series

In [20]:
df.even[3]

6

Note that the key name can be used also as an attribute.

> The __power__ of Pandas rely in that their main data structures: `DataFrames` and `Series`, are enriched with many useful methods and attributes.

### [Official definition of Pandas](http://pandas.pydata.org/pandas-docs/stable/)

> Pandas is a Python package providing __fast__, __flexible__, and __expressive__ _data structures_ designed to make working with “relational” or “labeled” data both easy and intuitive. It aims to be the fundamental high-level building block for doing practical, real world data analysis in Python. Additionally, it _has the broader goal of becoming the most powerful and flexible open source data analysis / manipulation tool_ available in any language. It is already well on its way toward this goal.

* "relational": the list of data is identified with some unique index (like a `SQL` table)
* "labeled": the list is identified with a key, like the previous `odd` or `even` keys.



### Recommend textbook
A good and practice book about `Pandas` possibilities is:

[__Python for Data Analysis__](https://drive.google.com/open?id=0BxoOXsn2EUNIWExXbVc4SDN0YTQ)<br/>
Data Wrangling with Pandas, NumPy, and IPython<br/>
_By William McKinney_

## Standard way to load the module

In [1]:
import pandas as pd

## Data structures

`Pandas` has two new data structures:
* `Series` which are similar to dictionaries
* `DataFrame` which are similar to dictionary lists.

### DataFrame
A row in a two-dimensional `DataFrame` corresponds to `Series` with the same keys of the `DataFrame`, but with single values instead of a list

In [53]:
df.loc[[0]]

   even  odd
0     0    1

In [54]:
df.loc[[0]].values

array([[0, 1]])

In [55]:
print( 'the row has' )
print( '                  keys: {} and values: {}'.format( list( df.loc[[0]].keys() ),df.loc[[0]].values[0]  ) )
print( "like the dictionay:" )
print( "                      { 'even' : 0, 'odd' : 1 }")

the row has
                  keys: ['even', 'odd'] and values: [0 1]
like the dictionay:
                      { 'even' : 0, 'odd' : 1 }

while the columns are dictionary with the indeces as the keys. 

An example of a  `DataFrame` is a spreadsheet.

In [56]:
df[['even']]

   even
0     0
1     2
2     4
3     6
4     8

In [57]:
print( 'the column even has' )
print( '                  keys: {} and values: {}'.format( list( df.even.keys() ),df.even.values  ) )
print( "like the dictionay:" )
print( "                      { 0 : 0, 1 : 2, 2 : 4, 3 : 6, 4 : 8 }")

the column even has
                  keys: [0, 1, 2, 3, 4] and values: [0 2 4 6 8]
like the dictionay:
                      { 0 : 0, 1 : 2, 2 : 4, 3 : 6, 4 : 8 }

### `Series`

A `Pandas` `Series` object can be just initialized from a `Python` dictionary:

In [34]:
s=pd.Series({'Name':'Juan Valdez','Nacionality':'Colombia','Age':23})
s

Age                     23
Nacionality       Colombia
Name           Juan Valdez
dtype: object

and can be used as such dictionaries

In [35]:
s['Name']

'Juan Valdez'

but also as containers of name spaces!

In [36]:
s.Name

'Juan Valdez'

## `DataFrame` Initialization

### Initization from an existing spreadsheet. 
This can be locally in your computer o from some downloadable  link

In [60]:
df=pd.read_excel('http://bit.ly/spreadsheet_xlsx')
df

               Nombre  Edad                Compañia
0         Juan Valdez    23        Café de Colombia
1  Álvaro Uribe Vélez    65  Senado de la República

To make a downloadable link for any spread sheet in Google Drive, follow the sequence:
```
File → Publish to the web...→ Entire Document → Web page → Microsoft excel (xlsx)
```
as illustrated in the figure:
![GS](./img/img1.png)

After some modification

In [64]:
df.loc[0,'Edad']=32
df

               Nombre  Edad                Compañia
0         Juan Valdez    32        Café de Colombia
1  Álvaro Uribe Vélez    65  Senado de la República

it can be saved again as an `excel file` with the option to not create a column of indices: `index=False`

In [65]:
df.to_excel('personajes.xlsx',index=False)

__Activity__: Adter the previous execution, load the file `personajes.xlsx`

### Initialization from sequential rows as  Series
We start with an empty `DataFrame`:

In [37]:
df=pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

We can append a `Series` as a row of the `DataFrame`, provided that we always use the option: `ignore_index=True`

In [38]:
df=df.append(s,ignore_index=True)
df

    Age Nacionality         Name
0  23.0    Colombia  Juan Valdez

We can fix the type of data of the `'Age'` column

In [7]:
type(df.Age)

pandas.core.series.Series

In [8]:
df['Age']=df.Age.astype(int)
df

   Age Nacionality         Name
0   23    Colombia  Juan Valdez

To add a second row we can build another `Series`
__Activity__: Fill the fields to be generated after the execution of the next cell, and make the __Exercises__

In [ ]:
s=pd.Series()
for k in ['Name','Nacionality','Age','Company']:
    var=input('{}:\n'.format(k))
    s[k]=var

#### Exercises
* Display the resulting `Series` in the screen:

* Append to the previous `DataFrame` y visualizarlo:

* Fill NaN with empty strings

* Save `Pandas` `DataFrame` as an Excel file

* Load pandas DataFrame from the saved file in Excel

## Beyond excel
The paradigm of dictionary of list is not well suited for excel. A list inside a dictionary is seen by excel as a string. 

It is however the core of the design of the `JSON` format, which preserver the types of variables inside the dictionaries!. In fact, this notebook itself is really a document in JSON format which can be seen before processing by jupyter  from [here](https://raw.githubusercontent.com/restrepo/data-analysis/master/Pandas.ipynb).

The dictionary can be converted into a string

In [34]:
str(numbers)

"{'odd': [1, 3, 5, 7, 9], 'even': [0, 2, 4, 6, 8]}"

This string can be writing in the `JSON` format by replacing the single quotes, ' , by  duoble quotes, ":

In [36]:
str(numbers).replace("'",'"')

'{"odd": [1, 3, 5, 7, 9], "even": [0, 2, 4, 6, 8]}'

This can be read from PANDAS as 'JSON' object:

In [37]:
pd.read_json(  str(numbers).replace("'",'"') )

   even  odd
0     0    1
1     2    3
2     4    5
3     6    7
4     8    9

### JSON
There are really three kinds of web
* the normal web, 
* the deep web,
* _the machine web_. The web for machine readable responses. It is served in `JSON` or `XML`  formats, which preserve programming objects.

For example the crossref includes an API to give the metada of a DOI. An example of  link for the machine web is the one for the DOI: 10.1103/PhysRevD.95.095034

[https://api.crossref.org/works/10.1103/PhysRevD.95.095034](https://api.crossref.org/works/10.1103/PhysRevD.95.095034)

In [47]:
doi

,message,message-type,message-version,status
DOI,10.1103/physrevd.95.095034,work,1.0.0,ok
ISSN,"[2470-0010, 2470-0029]",work,1.0.0,ok
URL,http://dx.doi.org/10.1103/physrevd.95.095034,work,1.0.0,ok
article-number,095034,work,1.0.0,ok
author,"[{'given': 'Carolina', 'family': 'Arbeláez', '...",work,1.0.0,ok
container-title,[Physical Review D],work,1.0.0,ok
content-domain,"{'crossmark-restriction': False, 'domain': []}",work,1.0.0,ok
created,"{'timestamp': 1496282928000, 'date-time': '201...",work,1.0.0,ok
deposited,"{'timestamp': 1496283034000, 'date-time': '201...",work,1.0.0,ok
funder,"[{'award': ['FB0821', 'ACT1406'], 'DOI': '10.1...",work,1.0.0,ok
indexed,"{'timestamp': 1521754947467, 'date-time': '201...",work,1.0.0,ok
is-referenced-by-count,3,work,1.0.0,ok
issn-type,"[{'value': '2470-0010', 'type': 'print'}, {'va...",work,1.0.0,ok
issue,9,work,1.0.0,ok
issued,"{'date-parts': [[2017, 5, 31]]}",work,1.0.0,ok
license,"[{'start': {'timestamp': 1496188800000, 'date-...",work,1.0.0,ok
link,"[{'intended-application': 'syndication', 'URL'...",work,1.0.0,ok
member,16,work,1.0.0,ok
original-title,[],work,1.0.0,ok
prefix,10.1103,work,1.0.0,ok
published-online,"{'date-parts': [[2017, 5, 31]]}",work,1.0.0,ok
publisher,American Physical Society (APS),work,1.0.0,ok
reference,"[{'key': 'PhysRevD.95.095034Cc1R1', 'DOI': '10...",work,1.0.0,ok
reference-count,46,work,1.0.0,ok
references-count,46,work,1.0.0,ok
relation,{'cites': []},work,1.0.0,ok
score,1,work,1.0.0,ok
short-container-title,[Phys. Rev. D],work,1.0.0,ok
short-title,[],work,1.0.0,ok
source,Crossref,work,1.0.0,ok
subject,[Physics and Astronomy (miscellaneous)],work,1.0.0,ok
subtitle,[],work,1.0.0,ok
title,[Fermionic triplet dark matter in an \nSO(10)\...,work,1.0.0,ok
type,journal-article,work,1.0.0,ok
volume,95,work,1.0.0,ok

In [50]:
doi.loc[['reference']]

,message,message-type,message-version,status
reference,"[{'key': 'PhysRevD.95.095034Cc1R1', 'DOI': '10...",work,1.0.0,ok

In [99]:
doi.loc[['reference']]['message'][0]

[{'DOI': '10.1088/1475-7516/2013/01/022',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc1R1'},
 {'DOI': '10.1088/1475-7516/2012/04/010',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc2R1'},
 {'DOI': '10.1103/PhysRevD.82.116003',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc3R1'},
 {'DOI': '10.1007/JHEP05(2011)037',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc4R1'},
 {'DOI': '10.1103/PhysRevD.81.015002',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc5R1'},
 {'DOI': '10.1103/PhysRevD.80.085020',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc6R1'},
 {'DOI': '10.1103/PhysRevD.81.029903',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc6R2'},
 {'DOI': '10.1103/PhysRevD.81.075002',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc7R1'},
 {'DOI': '10.1103/PhysRevD.12.1502',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc8R1'},
 {'DOI': '10.1016/0370-2693(92)91077-M',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc9R1'},
 {'DOI': '10.1103/PhysRevD.89.035002',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc10R1'},
 {'DOI': '10.1103/PhysRevD.46.R2769',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc11R1'},
 {'DOI': '10.1103/PhysRevD.93.111703',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc12R1'},
 {'DOI': '10.1103/PhysRevLett.115.121804',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc13R1'},
 {'DOI': '10.1088/1475-7516/2016/03/021',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc15R1'},
 {'DOI': '10.1016/j.physletb.2016.02.008',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc16R1'},
 {'DOI': '10.1103/PhysRevD.93.013012',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc17R1'},
 {'DOI': '10.1088/1475-7516/2017/02/016',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc18R1'},
 {'DOI': '10.1016/j.physletb.2016.03.048',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc19R1'},
 {'DOI': '10.1103/PhysRevD.91.095010',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc20R1'},
 {'DOI': '10.1007/JHEP11(2016)077',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc21R1'},
 {'DOI': '10.1142/S0217732317400077',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc22R1'},
 {'DOI': '10.1088/1475-7516/2016/06/016',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc23R1'},
 {'DOI': '10.1103/PhysRevD.93.093001',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc24R1'},
 {'DOI': '10.1103/PhysRevD.93.055015',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc25R1'},
 {'DOI': '10.1103/PhysRevD.22.2227',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc26R1'},
 {'DOI': '10.1007/978-1-4757-1928-4',
  'author': 'R.\u2009N. Mohapatra',
  'doi-asserted-by': 'crossref',
  'key': 'PhysRevD.95.095034Cc27R1',
  'volume-title': 'Unification and Supersymmetry. The Frontiers of Quark-Lepton Physics',
  'year': '1986'},
 {'DOI': '10.1103/PhysRevD.84.053012',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc28R1'},
 {'DOI': '10.1103/PhysRevD.87.075010',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc29R1'},
 {'DOI': '10.1016/j.physrep.2007.02.010',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc30R1'},
 {'DOI': '10.1103/PhysRevLett.113.121802',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc31R1'},
 {'DOI': '10.1016/j.cpc.2010.11.030',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc32R1'},
 {'DOI': '10.1016/j.cpc.2010.01.011',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc34R1'},
 {'DOI': '10.1140/epjc/s10052-016-4349-5',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc35R1'},
 {'DOI': '10.1016/S0010-4655(03)00222-4',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc36R1'},
 {'DOI': '10.1016/j.cpc.2012.05.021',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc37R1'},
 {'DOI': '10.1016/j.cpc.2006.11.008',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc38R1'},
 {'DOI': '10.1016/j.cpc.2010.10.025',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc39R1'},
 {'DOI': '10.1016/j.cpc.2012.04.013',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc40R1'},
 {'DOI': '10.1051/0004-6361/201321591',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc41R1'},
 {'DOI': '10.1016/j.physletb.2017.02.010',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc42R1'},
 {'DOI': '10.1103/PhysRevLett.112.091303',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc43R1'},
 {'DOI': '10.1103/PhysRevLett.109.181301',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc44R1'},
 {'DOI': '10.1007/978-94-007-7241-0',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc45R1'},
 {'DOI': '10.1140/epjc/s10052-014-3149-z',
  'doi-asserted-by': 'publisher',
  'key': 'PhysRevD.95.095034Cc46R1'},
 {'author': 'T. Hambye',
  'key': 'PhysRevD.95.095034Cc47R1',
  'volume-title': 'Proc. Sci.'}]

## Conclusion
In an ideal world we would have access to the metadata of the all research articles, in an automated machine readable way.

In [crossref](crossref.ipynb) we show that it is not the case for Redalyc journals.

The references listed below allows to create [Networks](Network.ipynb) of articles, provided that they are well _normalized_.

A real case scenario of obtain the metadata of _many_ research articles including references  is by means of the use of the  [Inspire HEP](inspire.ipynb), the information system for  High Energy Physics.

Example of [advanced use](rg.ipynb)

##  ACTIVITIES
See:
* https://github.com/ajcr/100-pandas-puzzles
* https://github.com/guipsamora/pandas_exercises

## Additional materials

See [this help](https://restrepo.github.io/PythonTipsAndTricks/)

A good and practice book about `Pandas` possibilities is:

[__Python for Data Analysis__](https://drive.google.com/open?id=0BxoOXsn2EUNIWExXbVc4SDN0YTQ)<br/>
Data Wrangling with Pandas, NumPy, and IPython<br/>
_By William McKinney_


This other is about aplications based on `Pandas`:
<div style="float: right;" markdown="1">
    <img src="https://covers.oreillystatic.com/images/0636920030515/cat.gif">
</div>
[Introduction to Machine Learning with Python](https://drive.google.com/open?id=0BxoOXsn2EUNISGhrdEZ3S29fS3M)<br/>
A Guide for Data Scientists
By Sarah Guido, Andreas Müller

`Pandas` can be used in a similar way to `R`, which is based on similar data structures. `Pandas` also can replace the use of graphical interfaces to access spreadsheets like Excel

Continue with [Network tutorial](./Network_Tutorial.ipynb)